<form action="/form" id="inputForm" method="post">
  <ol>
        <li>
          <label for="original">Enter some text to process:</label>
          <textarea name="original" cols="30" rows="10"></textarea></li>
        <li><input type="submit"></li>
      </ol>
</form>
    <div id="result"><%=  %></div>