<form action="/form" method="post">
  <ol>
        <li>
          <label for="textInput">Enter some text to process:</label>
          <textarea name="textInput" id="textInput" cols="30" rows="10"></textarea></li>
        <li><input type="submit"></li>
      </ol>
</form>